.main {
    display: flex;
    width: 100%;
    height: 100%;
}

.aside {
    width: 300px;      
    flex-shrink: 0;    
}

.content,
.mapContainer {
    flex-grow: 1;      
    position: relative;
}

#listContainer {
    height: 300px;
    overflow-y: scroll;
    border: black 1px solid;
} 
